**/.DS_Store
manual/manual-source/*.aux
manual/manual-source/*.log
manual/manual-source/*.out
manual/manual-source/*.toc
manual/manual-source/*.pdf
manual/manual-source/*.idx
manual/manual-source/*.ilg
manual/manual-source/*.ind
manual/manual-source/*.synctex.gz
